.page-footer main {
    background: #06114F;
    text-align: center;
    color:#FFFFFF;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 121.1%;
    width: 100%;
    margin-left:0%;
    margin-bottom:0%;
    margin-right:1%;
}
p {
    margin-top: 1%;
}
