.general {
    background-color: white;
    border-width: 2cm;
    border-color: #6F3096;
}
.container {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #252F65;
}
.titlu {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #6F3096;
    text-align: center;
}
.Button {
    background-color: #6F3096;
    border-radius: 5px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-emphasis-color: white;
    color: white;
    border-color: white;
    margin-bottom: 4%;
    padding: 10px;
}
.fixed-nav-bar {
    position: fixed;
}